.image-text{
    color: black;
}

.product-image:hover{
    transition: all 1s;
    opacity:200%;
    background-color: black;
}

.idea{
    margin-top: 5%;
    text-align: center;
}

.image2 {
    background-image: url('C:\Users\raj\Desktop\shop\client\src\components\images\cool1.png');
}
.imagey {
    background-image: url('C:\Users\raj\Desktop\shop\client\src\components\images\cool2.png');
}
.imagez {
    background-image: url('C:\Users\raj\Desktop\shop\client\src\components\images\cool3.png');
}

/* CSS */
.rupee::before {
    content: "\20B9 "; /* Unicode value of the rupee symbol */
  }
  @media screen and (max-width:767px){
    .idea{
        margin-top: 20%;
    }
}
